.clear-button {
    // position: relative;
    float: right;
    background-color: #3893f0;
    height: 30px;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    z-index: 1;
    margin: 5px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
